<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h1>Main page</h1>
<a href="/productList">products</a>
<a href="/manufacturerlist">manufacturers</a>
<a href="/customerList">customers</a>
<a href="/orders">Tilaukset</a><br><br>
<h4>Jos olet asiakas ja löysit tämän sivun vahingossa:</h4>
<a href="https://ohjelmistoprojekti-1-tiimi-3.github.io/s24Tiimi3FrontEnd/">Tästä linkistä pääset etusivulle</a>


</body>

</html>