<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h1>Manufacturers</h1>
<!-- Error if you try to delete a manufacturer that has products in the system -->
<div th:if="${error}" th:text="${error}" style="color: red;"></div>

<table>
    <tr>
        <th>Name</th>
        <th>Info</th>
        <th>Actions</th>
    </tr>
    <tr th:each="manufacturer : ${manufacturers}">
        <td th:text="${manufacturer.manufacturername}"></td>
        <td th:text="${manufacturer.manufacturerinfo}"></td>
        <td>
            <a th:href="@{/manufacturer/delete/{id}(id=${manufacturer.manufacturerid})}">Delete</a>
            <!-- Link to view products for this manufacturer -->
            <a th:href="@{/manufacturer/{id}/products(id=${manufacturer.manufacturerid})}">View Products</a>
        </td>
    </tr>
</table>

<a href="/addManufacturer">Add manufacturer</a>
<a href="/main">Back to the main page</a>

</body>

</html>