<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<h1>Asiakkaat, joilla on tilaus</h1>
<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Orders</th>
        <th>Actions</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <div th:if="${customer.orders.size() > 0}">
            <td th:text="${customer.customername}"></td>
            <td th:text="${customer.customerlastname}"></td>
            <td th:text="${customer.customeremail}"></td>
            <td th:text="${customer.orders.size()}"></td>
            <td>
                <a th:href="@{/orders/{id}(id=${customer.customerid})}">Näytä tilaukset</a>
            </td>
        </div>
    </tr>
</table>

<a href="/addorder">Add order</a>
<a href="/main">Back to the main page</a>

</body>

</html>