<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h1>Products</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Price</th>
        <th>Color</th>
        <th>Manufacturer</th>
        <th>Info</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.productname}"></td>
        <td th:text="${product.type}"></td>
        <td th:text="${product.size}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.color}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td th:text="${product.info}"></td>
    </tr>
</table>

<a href="/addProduct">Add product</a>

</body>

</html>